.card-title {
    font-family: 'Montserrat', serif;
    text-align: center;
}

h1 {
    font-family: 'Stentiga', serif;
    font-size: 28px;
}
.titols h1 {
    font-family: 'Stentiga', serif;
    font-size: 52px;
    padding-top: 5%;
}
h2 {
    font-family: 'Stentiga', serif;
    font-size: 28px;
}
.titols h2 {
    font-family: 'Stentiga', serif;
    font-size: 52px;
    padding-top: 5%;
}

.card-img-top {
    padding: 20px;
}

.card-img-top:hover {
    transform: scale(1.3);
    transition: transform 0.3s;
}

.card {
    border: none !important;
    background-image: url('fotos web/altres/textura.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.navbar .container > img {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
.temporada {
    font-family: 'Montserrat', serif;
    margin-bottom: 20px;
}

.animacioescuts {
    max-width: 150%; /* Limita el ancho al 100% del contenedor padre */
    width: auto; /* Permite que se ajuste al contenido */
    height: auto;
    position: relative;
    overflow: hidden; /* Contiene la animación */
}

.animacioescuts img {
    width: 150%; /* Aumenta el tamaño de la imagen (ajústalos a 150%, 200%, etc.) */
    height: auto; /* Preserva la proporción */
    display: block; /* Evita espacios adicionales */
    margin-left: -25%; /* Ajusta para centrar la imagen ampliada */
}
@keyframes escuts {
    from {
        left: 0; /* Reinicia desde el inicio */
        top: 4px;
    }
    to {
        left: -50%; /* Mueve hasta el 50% del ancho de la imagen ampliada */
        top: 4px;
    }
}

/* Evita desplazamiento horizontal en todo el body */
body {
    overflow-x: hidden;
}
@font-face {
    font-family: 'Stentiga';
    src: url('./ttf/Stentiga.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.titols{
    text-align:left
}
